/*
�깋 肄붾뱶 (吏꾪븳 �룷�씤�듃) : #0b1c26
�깋 肄붾뱶 (�룷�씤�듃) : #142f40
�깋 肄붾뱶 (諛곌꼍) : #275673
�깋 肄붾뱶 (湲��뵪) : #c1d4d9
*/
#wrap {
    margin: 0 auto;
    width: 1280px;
    height: 640px;
}

.header {
    width: 100%;
    background-color: #0b1c26;
    height: 150px;
}

.usr {
    color: #bdbebd;
    float: right;
    padding-top: 15px;
    padding-right: 30px;
    font-size: 14px;
}

.header1 {
    margin-left: 50px;
    padding-top: 50px;
}

.gnb li {
    display: inline;
    font-size: 30px;
    margin-left: 25px;
}

.gnb li:first-child {
    font-size: 35px;
    font-weight: bold;
    margin-right: 25px;
}

.gnb li img {
    width: 35px;
}


.gnb li:nth-child(2):hover {
    font-size: 32px;
    transition: all 0.4s;
}

.gnb li:nth-child(3):hover {
    font-size: 32px;
    transition: all 0.4s;
}

.gnb li:nth-child(4):hover {
    font-size: 32px;
    transition: all 0.4s;
}

body {
    background-color: #275673;
}


/* 寃뚯떆�뙋 �쁺�뿭  */

.row {
    text-decoration: none;
    width: 1024px;
    margin: 0 auto;
    color: #000;
    padding-top: 40px;
}

.row a:link {
    color: #000;
    text-decoration: none;
}

.row a:visited {
    color: #000;
    text-decoration: none;
}

.row a:hover {
    color: #333;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}

/* 寃뚯떆湲� �옉�꽦 遺�遺� */

.bd_table_w thead tr th{
    height: 30px;
    background-color: #d3d3d3;
    padding-top:15px;
    border-bottom: 1px solid #808080;
}
.bd_table_w tbody tr:first-child {
    height: 30px;
}

.bd_table_w tbody tr td input {
    width: 1016px;
    margin-left: 2px;
    height: 25px;
    margin-top: 10px;
    font-size: 16px;
}

.bd_table_w tbody tr td textarea{
    width: 1014px;
    margin-left: 2px;
    margin-top: 10px;
    font-size: 16px;
}

.bd_table_w tbody tr td {
    background-color: white;
}

.button {
    width: 90px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #FFF;
    background-color: #2aab1d;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    float: right;
}

.button:hover {
    transform: translateY(-2px);
    background-color: #007f00;
}

.button1 {
    width: 60px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #FFF;
    background-color: #2aab1d;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    float: left;
}

.button1:hover {
    transform: translateY(-2px);
    background-color: #007f00;
}





/* footer �쁺�뿭 */

.footer {
    height: 350px;
    width: 100%;
    background-color: #0b1c26;
}

.footer h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 70px;
    margin-left: 20px;
    color: #c1d4d9;
}

.footer p {
    font-size: 14px;
    padding-top: 50px;
    margin-left: 20px;
    color: #c1d4d9;
    line-height: 25px;
}
