@charset "UTF-8";
* {
  font-family: "Do Hyeon", "Open Sans" !important;
}
.project-name{
	text-decoration: none;
}
@media (min-width: 768px){
	.row-cols-md-3>* {
	width: 95% !important;
    float: left;
    margin-bottom: 10px;
    }
}
.row{
	 float: left;
	 width: 33.3333%;
}