/* footer ¿µ¿ª */

.footer {
    height: 350px !important;
    width: 100%;
    background-color: #000009;
    float: left;

}

.footer h1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    margin-left: 20px;
    color: #fff;
}

.footer p {
    font-size: 14px;
    padding-top: 30px;
    margin-left: 20px;
    color: #fff;
    line-height: 25px;
}
* {
  font-family: "Do Hyeon", "Open Sans" !important;
}